body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

nav {
    background-color: #444;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
}

section {
    padding: 20px;
    display: none;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
}

@media screen and (max-width: 600px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 5px 0;
    }

    #mobile-menu-toggle {
        display: block;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        margin-bottom: 10px;
    }
}